.like-button {
  padding: 6px 18px;
  font-size: 15px;
  border: 2px solid transparent; 
  cursor: pointer;
  border-radius: 2px;
  margin: 10px;
  position: relative;
  transition: border-color 0.3s; 
}

.like-button:hover {
  border-color: lightblue; 
  border-width: 3px;
}

.like-button-purple {
  background-color: purple;
  color: white;
}

.like-button-blue {
  background-color: blue;
  color: white;
}

.like-button-green {
  background-color: green;
  color: white;
}

.like-button-yellow {
  background-color: yellow;
  color: black;
}

.like-button-orange {
  background-color: orange;
  color: black;
}

.like-button-red {
  background-color: red;
  color: white;
}
