/* Rating Component Styles */
.rating {
    display: flex;
  }
  
.star,
.empty-star,
.half-star {
  font-size: 4em; /* Increase the font size to make the stars bigger */
}

.star {
  color: #000000; /* Gold color for filled stars */
  text-shadow: -0.01px -0.01px 0 black, 0.01px -0.01px 0 black, -0.01px 0.01px 0 black, 0.01px 0.01px 0 black;
}

.empty-star {
  color: #000; /* Light gray color for empty stars */
  text-shadow: -0.01px -0.01px 0 black, 0.01px -0.01px 0 black, -0.01px 0.01px 0 black, 0.01px 0.01px 0 black;
}

.half-star {
  color: #000000; /* Gold color for half-filled star */
  text-shadow: -0.01px -0.01px 0 black, 0.01px -0.01px 0 black, -0.01px 0.01px 0 black, 0.01px 0.01px 0 black;
}